
h1{color:blue;
    background-color:ligh;
    text-align: center;
    text-transform: uppercase;

}
h2{color:blue;
    background-color:lightgray;
    
        
        
        
      text-transform: uppercase;

}

header{
    text-align: center;
    background-color:#E5E5E5;
}

footer{
    color: white;
    background-color: teal;
    text-align: center;
    
}

.nolist li{
    list-style: none;
    text-indent: 3%;

}
.black{
    color: black;
}
.negrita li{
    font-weight:bold;
    color:rgb(0,255,0)

}
span{
    font-weight: bold;

}
